*{
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}


html{
    /*background-color set at html tag in /index.html*/
    body{
        display: grid;
        place-content:center;
        height: 100vh;
        height: 100svh;
    }
}
